%main.main-page
  %section.page1
    .page-container
      %h1
        ="Organise, Planifie et Partage ton"
        %br/
        %strong="Tour du Monde"
      = link_to "Découvre le Monde", "#", class: "btn-vbt is-big"
  %section.page2
    .page-container
      %h2="Recherche des destinations"
      %p.lead
        ="Trouve toutes les informations nécessaires à propos de tes destinations désirées ainsi que l'avis de la communauté..."
  %section.page3
    .page-container
      %h2="Budgétise ton Tour du Monde"
      %p.lead
        ="Prends connaissance du coût de la vie dans ces différents pays et prévois de manière précise ton abudget voyage..."
  %section.page4
    .page-container
      %h2="Pars l'esprit tranquille"  
      %p.lead
        ="Grâce à la richesse des informations, prépares tous les papiers indispensables et pars confiant..."