/* _layout.scss - Use this file to define fundamentals parts of the application.
 * 
 * Please verify that this file is correctly import into screen.scss,
 * the initializer file... (or equivalent):
 * @import "_layout.scss"; */

/*
 * __HEADER
/* 
*/
  #header-page .navbar-fixed-top {
    background: rgba(252, 252, 252, .85);
    padding: 15px 0;
    .brand-name {
      margin-top: 2px;
    }
    ul > li {
      display: inline-block;
      margin-left: 20px;
      margin-top: 2px;
      > a {
        color: #444;
        &:hover {
          color: $link-color;
          border-color: $alt-blue;
        }
      }
    }
  }

/*
 * __MAIN
/* 
*/
  #site-wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto; 
    overflow: hidden;
  }
  .main-page {
    float: left;
    width: 100%;
    margin: 0 auto;
  }

  section {
    display: table;
  }
  
  .page1 {
    background: image-url("backpacker.jpg");
    background-size: cover;
  }
  .page2 {
    background: image-url("backpacker4.jpg");
    background-size: cover;
  }
  .page3 {
    background: image-url("backpacker3.jpg");
    background-size: cover;
  }
  .page4 {
    background: image-url("backpacker-5.jpg");
    background-size: cover;
  }

  .page-container {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
  }

  .content {
    color: #fff;
  }

  .lead {
    font-size: 26px;
    line-height: 1.6;
  }

  .page1 {
    text-align: center;
    .page-container {
      margin: 0 auto;
    }
    h1 {
      text-transform: uppercase;
      font-size: 48px;
      margin-bottom: 100px;
      font-family: $light;
      line-height: 1.2;
      color: #fff;
      text-shadow: 0px 0px 200px rgba(0,0,0,.5), 0px 0px 100px rgba(0,0,0,.5), 0px 0px 50px rgba(0,0,0,.5), 0px 2px 0px rgba(0,0,0,.2);
      > strong {
        font-family: $bold;
      }
    }
  }

  .page2 {
    .content {
      float: right;
      width: 40%;
      margin-right: 10%;
    }
  }

  .page3 {
    .content {
      color: $dark-blue;
    }
  }

  .page4 {
    text-align: center;
    .content {
      color: #fff;
    }
  }



/*
 * __FOOTER
/* 
*/
  // #footer-page {
  //   position: fixed;
  //   bottom: 0;
  //   width: 100%; 
  // }