%header#header-page
  %nav#main-links.container
    = link_to "VeryBagTrip", "#", class: "brand-name"
    %ul.pull-right
      %li
        = link_to "Link", "#"
      %li
        = link_to "Link", "#"
      %li
        = link_to "Link", "#"