%header#header-page
  %nav#main-links.navbar-fixed-top{role: "navigation"}
    .container
      = link_to "VeryBagTrip", "#", class: "brand-name"
      %ul.pull-right
        %li
          = link_to "Organise", "#"
        %li
          = link_to "Planifie", "#"
        %li
          = link_to "Partage", "#"